# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

# CMake Build Directory
build/
cmake-build*/

# IDE-specific Files and Folders
.idea/
.vscode/
*.sln
*.vcxproj
*.vcproj
*.xcodeproj
*.xcworkspace

# Dependency Directories
lib/
libs/
vendor/
